.Menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--space-4);
  height: var(--menu-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .Menu {
    max-width: 500px;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: var(--radius-m) var(--radius-m) 0 0;
  }
}

.Icon {
  max-width: 30px;
}
