.Layout {
  display: grid;
  padding: var(--space-5);
}

.AuthLayout {
  place-content: center;
  gap: var(--space-5);
  min-height: 100vh;
}

.BalanceLayout {
  grid-template-rows: 8% auto;
  gap: var(--space-5);
}
