:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.2px 0.8px 0.9px hsl(var(--shadow-color) / 0.34),
    0.3px 1.4px 1.6px -1.2px hsl(var(--shadow-color) / 0.34),
    0.7px 3.3px 3.8px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.2px 0.8px 0.9px hsl(var(--shadow-color) / 0.36),
    0.6px 2.7px 3.1px -0.8px hsl(var(--shadow-color) / 0.36),
    1.5px 6.7px 7.7px -1.7px hsl(var(--shadow-color) / 0.36),
    3.5px 16.4px 18.9px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.2px 0.8px 0.9px hsl(var(--shadow-color) / 0.34),
    1px 4.8px 5.5px -0.4px hsl(var(--shadow-color) / 0.34),
    1.9px 8.9px 10.2px -0.7px hsl(var(--shadow-color) / 0.34),
    3.2px 14.6px 16.8px -1.1px hsl(var(--shadow-color) / 0.34),
    5px 23.4px 26.9px -1.4px hsl(var(--shadow-color) / 0.34),
    7.9px 36.5px 42px -1.8px hsl(var(--shadow-color) / 0.34),
    12px 55.6px 64px -2.1px hsl(var(--shadow-color) / 0.34),
    17.7px 81.8px 94.2px -2.5px hsl(var(--shadow-color) / 0.34);
}

.shadow-medium {
  box-shadow: var(--shadow-elevation-medium);
}

.no-shadow {
  box-shadow: none;
}

.bg-main {
  background-image: linear-gradient(
    100deg,
    var(--primary),
    var(--primary-hard)
  );
}

.bg-black {
  background-image: linear-gradient(100deg, var(--dark-100), var(--dark-500));
}

.bg-red {
  background-image: linear-gradient(100deg, var(--error), var(--error-hard));
}

.color-red {
  color: var(--error);
}

.bg-green {
  background-image: linear-gradient(
    100deg,
    var(--success),
    var(--success-hard)
  );
}

.color-green {
  color: var(--success);
}

.bg-yellow {
  background-image: linear-gradient(
    100deg,
    var(--warning),
    var(--warning-hard)
  );
}

.color-yellow {
  color: var(--warning);
}

.bg-gray {
  background-image: linear-gradient(100deg, var(--gray-500), var(--gray-100));
}

.bg-transparent {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0));
}

.color-gray {
  color: var(--gray-300);
}

.pie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.pie__result {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
  font-family: var(--tipo-bold);
  color: var(--dark-500);
}

.label {
  font-family: var(--tipo-bold);
}

g.recharts-layer.recharts-pie-labels > g > path {
  display: none;
}

.recharts-wrapper {
  width: 100% !important;
}

#root
  > main
  > div
  > div
  > svg
  > g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis {
  display: none;
}

tspan {
  text-transform: capitalize;
  font-size: var(--fs-s);
}
